<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="root">
        <div class="container">
            <div class="green-stripe"></div>
            <div class="vh">
                <div class="boolzapp">            
                    <div class="sidebar">
                        <div class="sidebar-top">
                            <div class="divImg">
                                <img class="avatarIo" src="img/avatar_io.jpg" alt="">
                                <span>Nome Utente</span>
                            </div>
                            <div class="divIcons">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>

                        <div class="sidebar-blue">
                            <div class="campanella">
                                <i class="fa fa-bell-slash"></i>
                            </div>
                            <div class="bell-text">
                                lorem lorem lorem
                            </div>
                        </div>

                        <div class="sidebar-search">
                            <div class="search-left">
                                <input class="search" type="text" placeholder="Seleziona contatto">
                            </div>
                        </div>

                        <div class="sidebar-bottom">

                            <div class="contact" :class="(index == active)?'active':'' " v-for="(contact, index) in contacts" @click="setActive(index)">
                                <div class="c-image">
                                    <img :src='"img/avatar" + contact.avatar + ".jpg" '>
                                </div>
                                <div class="c-info">
                                    <h3>{{contact.name}}</h3>
                                    <span class="contact-date">102030</span>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="ground">
                        <div class="top-ground">
                            <div class="divImg">
                                <img class="avatarIo" src="img/avatar_1.jpg" alt="">
                                <div class="avatarDets">
                                    <div>Michele</div>
                                    <span>Nome Utente</span> <br>
                                    <span>Ultimo accesso 16:15</span>
                                </div>
                            </div>
                            <div class="divIcons">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>

                        <div class="middle-ground">

                            <div v-for="message in contacts[active].messages" class="message" :class="message.status">
                                {{message.text}}
                                <div class="sentDate">{{message.date}}</div>
                                <!-- <div class="message received">
                                    lorem ipsum
                                    <div class="sentDate">
                                        10/12/2024
                                    </div>
                                </div>
    
                                <div class="message sent">
                                    lorem ipsum
                                    <div class="sentDate">
                                        10/12/2024
                                    </div>
                                </div> -->
                            </div>
            
                        </div>

                        <div class="bottom-ground">
                            <i class="far fa-smile"></i>
                            <input class="c-b-ground" placeholder="Scrivi un messaggio">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>