*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.green-stripe {
    width: 100vw;
    height: 100px;
    background-color: #1c9688;
}

.vh {
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #d4dbdb;
}

.vh::after {
    content: "";
    display: block;
    clear: both;
}

.boolzapp {
    width: 80%;
    height: calc(100vh - 40px);
    position: absolute;
    top: 20px;
    left: 150px;
    right: px;
    bottom: 20px;
}

.sidebar {
    height: calc(100vh - 40px);
    width: 400px;
    position: absolute;
    float: left;
}

/*sidebar-top rules*/

.sidebar-top {
    height: 60px;
    width: 400px;
    background-color: #ebebeb;
    border-right: 2px solid gray;
    display: flex;
    justify-content: space-between;
}

.divImg {
    display: flex;
    align-items: center;
}

.avatarIo {
    width: 60px;
}

.divIcons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar-middle {
    height: 80px;
    width: 400px;
    background-color: #8edafd;
}

.sidebar-bottom {
    width: 400px;
    height: calc(100vh - 180px);
    background-color: white;
    overflow-y: scroll;
}

.ground {
    height: 100%;
    width: calc(100vw - 400px);
}

.top-ground {
    height: 60px;
    width: calc(100vw - 400px);
    background-color: #ebebeb;
}

.bottom-ground {
    width: calc(100vw - 400px);
    height: calc(100vh - 100px);
    background-color: red;
}