*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green-stripe {
    width: 100vw;
    height: 100px;
    background-color: #1c9688;
}

.vh {
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #d4dbdb;
}